@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?5g9oiz');
  src:  url('icomoon.eot?5g9oiz#iefix') format('embedded-opentype'),
    url('icomoon.ttf?5g9oiz') format('truetype'),
    url('icomoon.woff?5g9oiz') format('woff'),
    url('icomoon.svg?5g9oiz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-printer:before {
  content: "\e954";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-file-openoffice:before {
  content: "\eae0";
}

